<%- include('includes/head') %>

  <main class="main">
    <h1>Some Error Occured!</h1>
    <p>
      We're working on fixing this, sorry for the inconvinece! <br>
      Thank you..
    </p>
  </main>
  
  <%- include('includes/end') %>